{% extends "base.html" %}


{% block subtitle %}- Log In{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<h2 id="signupmain"> Roomba as a Service. </h2>

<ul>
{% for robot in robots %}
    <form method="post">
    {{robot.name}} <button type="text" name="text" {{"disabled" if robot.status=="red"}}>Choose</button>,
    Status: <span id="status">{{robot.status}}</span>
    </form>
{% endfor %}
</ul>

{% endblock %}
